%span.terms(ng-if="primary.terms")
  %span.term(ng-repeat="term in primary.terms")
    %ng-switch(on="term.type")
      %word-gdict-term(term="term" ng-switch-when="text")
      %word-gdict-term(term="term" ng-switch-default=true)

.entries(ng-if="primary.entries")
  .entry(ng-repeat="entry in primary.entries")
    %word-gdict-primary(primary="entry")
