%div(ng-if="primary.type == 'headword'")
  %word-gdict-primary-headword(primary="primary")
%div(ng-if="primary.type == 'meaning'")
  %word-gdict-primary-meaning(primary="primary")
%div(ng-if="primary.type == 'example'")
  %word-gdict-primary-example(primary="primary")
%div(ng-if="primary.type == 'container'")
  %word-gdict-primary-container(primary="primary")
%div(ng-if="primary.type == 'related'")
  %word-gdict-primary-related(primary="primary")
