.terms(ng-if="primary.terms")
  .term(ng-repeat="term in primary.terms")
    %word-gdict-term(term="term")

.entries(ng-if="primary.entries")
  .entry(ng-repeat="entry in primary.entries")
    %word-gdict-primary(primary="entry")
