!!! 5
%html
  %head

  %body
    .add-word
      %input#add-word-input
      %button#add-word-btn Add word
    -# scripts
    %script(src="/assets/js/angular/angular.min.js")
    %script(src="https://www.dropbox.com/static/api/dropbox-datastores-1.0-latest.js")
    - if (isDevMode) {
    %script(src="/assets/js/goog/base.js")
    %script(src="/deps.js")
    :javascript
      goog.require('recite.App');
    :javascript
      recite.App.main();
    - }
