!!! 5
%html(ng-app="recite" ng-csp=true)
  %head
    - if (isDevMode) {
    %link(rel="stylesheet/less" type="text/css" href="/assets/imports.less")
    %script(src="/assets/js/less/less-1.6.0.min.js")
    - } else {
    %link(rel="stylesheet" type="text/css" href="/assets/compiled.css")
    - }
  %body
    - if (isDevMode) {
    %button(onclick="less.refresh()") Refresh Less
    - }

    .add-word
      %input#add-word-input
      %button#add-word-btn Add word

    .search-word(ng-controller="search.SearchCtrl")
      %form(ng-submit="searchWord()")
        %input(ng-model="searchWordInput" placeholder="word to search")
        %input(type="submit" value="Search")
      .result
        %word-result(result="result" ng-if="result")
        %pre
          {{output}}

    -# scripts
    - if (isDevMode) {
    %script(src="https://www.dropbox.com/static/api/dropbox-datastores-1.0-latest.js")
    %script(src="/assets/js/angular/angular.js")
    %script(src="/assets/js/goog/base.js")
    %script(src="/deps.js")
    :javascript
      goog.require('recite.App');
    - } else {
    %script(src="assets/js/dropbox-datastores-1.0-latest.js")
    %script(src="assets/js/angular.min.js")
    %script(src="assets/js/compiled.js")
    - }
    :javascript
      recite.App.main();
