!!! 5
%html(ng-app="recite")
  %head

  %body
    .add-word
      %input#add-word-input
      %button#add-word-btn Add word

    .search-word(ng-controller="search.SearchCtrl")
      %form(ng-submit="searchWord()")
        %input(ng-model="searchWordInput" placeholder="word to search")
        %input(type="submit" value="Search")
        .x {{searchWordInput}}
      .result
        %word-result(result="result" ng-if="result")
        %pre
          {{output}}

    -# scripts
    - if (isDevMode) {
    %script(src="/assets/js/dropbox/dropbox.js")
    %script(src="/assets/js/angular/angular.js")
    %script(src="/assets/js/goog/base.js")
    %script(src="/deps.js")
    :javascript
      goog.require('recite.App');
    - } else {
    %script(src="https://www.dropbox.com/static/api/dropbox-datastores-1.0-latest.js")
    %script(src="/assets/js/angular/angular.min.js")
    %script(src="assets/js/compiled.js")
    - }
    :javascript
      recite.App.main();
