%div(ng-if="primary.type == 'headword'")
  %word-primary-headword(primary="primary")
%div(ng-if="primary.type == 'meaning'")
  meaning
%div(ng-if="primary.type == 'example'")
  example
%div(ng-if="primary.type == 'container'")
  container
%div(ng-if="primary.type == 'related'")
  related
